networks:
  oracle_app:
    external: true

services:
  database:
  
    image: gvenzl/oracle-xe:21.3.0
    container_name: oc-app-oracle
    ports:
      - "1521:1521"   # listener
      - "5500:5500"   # optional EM Express
    environment:
      ORACLE_SID: ORCLCDB
      ORACLE_PDB: XEPDB1
      ORACLE_PASSWORD: Oracle_123
      ORACLE_CHARACTERSET: AL32UTF8
    volumes:
      - oc-data:/opt/oracle/oradata
      - ./startup-scripts:/opt/oracle/scripts/startup
    shm_size: '2g'
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "bash", "-c", "echo 'exit' | sqlplus -L system/Oracle_123@//localhost:1521/XEPDB1 > /dev/null"]
      interval: 45s
      timeout: 20s
      retries: 5
      start_period: 60s
    networks:
      - oracle_app
  api:
    container_name: oc-app-backend
    build:
      context: .
      dockerfile: Dockerfile.thin_mode
    depends_on:
      database:
        condition: service_healthy
    links:
      - database
    ports:
      - 3000:3000
    networks:
      - oracle_app
    environment:
      - GODROR_DRIVER_MODE=thin
      - ORACLE_CONN="user=system password=Oracle_123 connectString=database:1521/XEPDB1"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://api:3000/health/app"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: "unless-stopped"

volumes:
  oc-data:
